---
---

@import "{{ site.theme }}";

header h1:before { 
	content: "[ ";
	font-size: 24px;
	padding-left: 20px;
}

header h1:after {
	content: " ~]#";
	font-size: 24px;
}

.row {
	display: inline-block;
}

.blink {
	animation: blinker 1s;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
